.red{
    color: #FF1100;
}
.home-signup{
    background-color: #112233;
    background-size: 100% auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.home-description{
    background-color: #113333;
    background-size: 100% auto;
    padding-top: 150px;
    padding-bottom: 150px;
}